html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
  }
 
body  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Architects Daughter", cursive;
  background-image:url(/heller22.github.io/Lib/háttér-metal2.jpg);
  background-size: cover;
  background-position: right bottom, left top;
}

.namecard-div  {
  border: 2px solid black;
  margin: auto;
  padding: 2rem;
  width: 480px;
  height: 100%;
  background: rgba(217, 236, 241, 0.6);
}

.menu-button .menupoints  {
  float: right;
  cursor: pointer;
}

.menupoints  {
  display: none;
  background-color: rgba(245, 245, 250, 0.5);
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menupoints a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu:hover .menupoints {
  display: block;
}

.menupoints a:hover  {
  background-color:rgba(245, 245, 250, 0.8);
}


h1  {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.9rem;
  font-weight: bold;
}

h3  {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.picture-div  {
  margin-top: 3rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-div img  {
width: 30%;
height: 95%;
border-radius: 100px;
}

.personal-div  {
  margin: 1.5rem 0 1.5rem;
  color: rgb(35, 35, 61);
}

.personal-info a:hover  {
  color: rgb(1, 83, 83);
}

.personal-info  {
  font-size: 1.5rem;
  padding: 0.5rem;
}

i  {
  font-size: 2rem;
}

.about-p1  {
  margin-bottom: 1rem;
}

.video-div  {
  margin: 1rem;
}

.socialmedia-div  {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.socialmedia-icon  {
  padding: 1rem;
  color: rgb(35, 35, 61);
}

.socialmedia-icon i:hover  {
  color: rgb(1, 83, 83);
}

a {
  text-decoration: none;
  color: rgb(35, 35, 61);
}
